alembic==1.6.5
amqp==5.0.6
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
astroid==2.2.5
async-generator==1.10
attrs==20.3.0
autopep8==1.5.7
awscli==1.20.31
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
black==21.6b0
bleach==3.2.1
blessed==1.17.6
blinker==1.4
botocore==1.21.31
celery==5.1.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
click-spinner==0.1.10
colorama==0.4.3
cryptography==3.4.7
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.6.0
distlib==0.3.2
docutils==0.15.2
ecdsa==0.13.2
entrypoints==0.3
feedgenerator==1.9.1
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.8
Flask-Migrate==2.5.2
Flask-Moment==0.11.0
Flask-Script==2.0.6
flask-script-exception-handler==0.1.1
Flask-Script-Extras==0.1.4
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.3
future==0.17.1
greenlet==1.1.0
gunicorn==20.0.4
idna==2.10
iniconfig==1.1.1
inquirer==2.7.0
ipykernel==6.4.1
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.18
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.3
jupyter-console==6.2.0
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jwt==1.2.0
kombu==5.1.0
lazy-object-proxy==1.4.0
llvd==2.2.6
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mypy-extensions==0.4.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.5.1
notebook==6.1.5
numpy==1.21.2
packaging==20.8
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pathspec==0.8.1
pelican==4.5.0
pexpect==4.8.0
pickleshare==0.7.5
pkgconfig==1.5.5
pluggy==0.13.1
prometheus-client==0.9.0
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil==5.8.0
psycopg2-binary==2.8.3
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.3.1
Pygments==2.9.0
PyJWT==1.7.1
pylint==2.3.1
pyparsing==2.4.7
PyQt6==6.1.1
PyQt6-3D==6.1.1
PyQt6-Charts==6.1.1
PyQt6-DataVisualization==6.1.1
PyQt6-NetworkAuth==6.1.1
PyQt6-sip==13.1.0
pyrsistent==0.17.3
pytest==6.2.2
python-dateutil==2.8.2
python-editor==1.0.4
python-jose==3.3.0
python-jose-cryptodome==1.3.2
pytz==2020.4
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.0.1
QtPy==1.9.0
readchar==2.0.1
regex==2021.4.4
requests==2.25.1
rsa==4.7.2
s3transfer==0.5.0
Send2Trash==1.5.0
sip==6.1.1
six==1.12.0
soupsieve==2.1
SQLAlchemy==1.4.18
TBB==0.2
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
tornado==6.1
tqdm==4.55.0
traitlets==5.1.0
typed-ast==1.4.2
Unidecode==1.2.0
urllib3==1.26.2
vine==5.0.0
virtualenv==20.4.7
virtualfish==2.5.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.11.1
WTForms==2.3.3
